.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--grey-light-2);
  box-shadow: var(--dark-shadow);
  min-height: 50rem;
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #ffffff;
  border-bottom: var(--grey-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;

  height: 500px;
}

.sidebar {
  background-color: var(--grey-dark-1);
  flex: 0 0 20%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.art-view {
  background-color: #ffffff;
  flex: 1;
}
